// Colors
$color__brand_primary: #e67e22;
$color__brand_secondary: #e74c3c;
$color__font-headings: #404040;
$color__cta-positive: #40d47e;

// Breakpoints
$breakpoint__medium: 30em;
$breakpoint__large: 50em;

// Spacing
$spacing__site-content: 1em;

// Typography
$typography__size-headings: 1.2em;