@import '../../styles/styles';

.trips__form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.trips__box {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}

.trips__button {
  border: none;
  padding: 1em;
  min-width: 20%;
  background-color: $color__cta-positive;
  color: white;
}

@media (min-width: $breakpoint__medium) {
  .trips__form {
    flex-direction: row;
  }

  .trips__box {
    width: 80%;
    margin-right: 1em;
  }
}