@import '../../styles/styles';

.trips__form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.trips__box {
  width: 80%;
  padding: 1em;
  margin-right: 1em;
}

.trips__button {
  border: none;
  padding: 1em;
  background-color: $color__cta-positive;
  color: white;
}

@media (min-width: $breakpoint__medium) {
  .trips__form {
    flex-direction: row;
  }
}