@import '../../styles/styles';

.bubble__block {
  text-align: center;
  width: 10em;
}

.bubble__bubble {
  height: 10em;
  width: 10em;
  border-radius: 100%;
  background-color: $color__brand_secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}