@import '../../styles/styles';

.search__form {
  display: flex;
  justify-content: space-between;
}

.search__box {
  width: 80%;
  padding: 1em;
  margin-right: 1em;
}

.search__button {
  border: none;
  padding: 1em;
  width: 10%;
  background-color: $color__cta-positive;
  color: white;
}